.container-fluid
  .row
    .col-md-8.col-md-offset-2
      .editable
      :javascript
        var editor = new MediumEditor('.edit');
      = render 'simpleform'
      = render 'documents/versions', document: @document
      = link_to 'View', @document,  class: "space btn btn-default"
      = link_to 'Back', documents_path, class: "space btn btn-default"
