<div class="container-fluid">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<h3 class="center">New Document</h3>
			<script>var editor = new MediumEditor('.edit');</script>
			<%= render 'simpleform' %>
			<%= link_to 'Back', documents_path, class: "space btn btn-default"%>
		</div>
	</div>
</div>