.container-fluid
  .row
    .col-md-8.col-md-offset-2
      .col-md-4.col-md-offset-4.pull-right
        %form
          .form-group
            %input#search.form-control{:placeholder => "Search", :type => "text"}/
      %p
        %strong Title:
        = @document.title
      %p#document_content
        %strong Content:
        = @document.content.html_safe
      - if can? :update, @document
        = link_to 'Edit', edit_document_path(@document), class: "space btn btn-primary"
      = link_to 'Back', documents_path, class: "space btn btn-default"
