<div class="container-fluid">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div class="col-md-4 col-md-offset-4 pull-right">
				<form>
					<div class="form-group">
						<input type="text" class="form-control" id="search" placeholder="Search">
					</div>
				</form>
			</div>
			<p>
				<strong>Title:</strong>
				<%= @document.title %>
			</p>
			<p id="document_content">
				<strong>Content:</strong>
				<%= @document.content.html_safe %>
			</p>
			<% if can? :update, @document %>
			<%= link_to 'Edit', edit_document_path(@document), class: "space btn btn-primary" %>
			<%end%>
			<%= link_to 'Back', documents_path, class: "space btn btn-default" %>
		</div>
	</div>
</div>